aiofiles==0.4.0
atomicwrites==1.3.0
attrs==19.3.0
bitstring==3.1.6
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
dnspython==1.16.0
email-validator==1.0.4
fastapi==0.42.0
Flask==1.1.1
future==0.18.1
geojson==2.5.0
Geometry==0.0.23
h11==0.8.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
numpy==1.17.3
packaging==19.2
Pillow==6.2.1
pluggy==0.13.0
py==1.8.0
pydantic==0.32.2
pygame==1.9.6
PyGeoj==1.0.0
pyglet==1.4.6
pyparsing==2.4.2
pytest==5.2.2
python-dateutil==2.8.0
requests==2.22.0
s2sphere==0.2.5
six==1.12.0
starlette==0.12.9
urllib3==1.25.6
uvicorn==0.9.0
wcwidth==0.1.7
websockets==8.0.2
Werkzeug==0.16.0
zipp==0.6.0
